include ../shared-views/nav
include ./form
include ./initial
include ./popup-edit-create
include ./question

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        link(rel="stylesheet", href="static/styles/main.css")
        script(src="static/js/create-survey.js")
        title Kick Survey
    body
        +nav()
        div.container
            h1.display-4.m-b-2 Create Survey
            hr
        div#content.container
            div#info.content
            +initial()
            hr
            
        div#question.container
            //- +question()
            +edit-create()
        .row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12.center-block
                button.btn.btn-success.center-block.active(data-toggle="modal" data-target="#edit-create") ADD QUESTION
        


            //- input#generate-share.btn.btn-primary(type="button", value="Share") 