mixin initial()
    div.survey-create
      div#initial-create
        div.form-group.initial-field.survey-name-exist-msg
          label
        div.form-group.initial-field
          input#survey-name.form-control(type='text', name='survey-name', placeholder="Survey name")
        div.form-group.initial-field
          label(for='categories') Category:
          select#categories.form-control(name='survey-type')
            optgroup(label="Category type")
            each category in categories
              option(value=category.name)
                | #{category.name}
        .form-group.initial-field
            .col-sm-offset-2.col-sm-10
            button#continue-btn.btn.btn-primary(type='button') Continue
