form(action="" method ="get")
    div
        label(for="name") Name:
        input(type="text" id="name" name="user-name")
    div
        label(for="mail") E-mail:
        input(type="email" id=mail name="user-email")
    div
        label(for="msg") Message:
        textarea(id="msg" name="user-message")    
    div
        label(for="name") Name:
        input(type="text" id="name" name="user-name")
    div
        label(for="mail") E-mail:
        input(type="email" id=mail name="user-email")
    div
        label(for="msg") Message:
        textarea(id="msg" name="user-message")
    div(class="btn")
        button(type="submit") Send your message!