.navbar {
    background-color: #90D481;
}

.navbar a {
    color: #1A4C63;
    font-weight: bold;
    font-size: 1.2em;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #c5ff9b;
}

.modal .container {
    width: 100%;
}
.glyphicon{
    margin-right:5px;
}

.create-survey-form {
    display: none;
}