.navbar {
    background-color: #90D481;
}

.navbar a {
    color: #1A4C63;
    font-weight: bold;
    font-size: 1.2em;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #c5ff9b;
}

.modal .container {
    width: 100%;
}

.glyphicon {
    margin-right: 5px;
}

.create-survey-form {
    display: none;
}

.ui-slider-range {
    background: #90D481 !important;
}

.ui-slider-handle {
    border-color: #90D481 !important;
}

/* Emojies */
.far{
    font-size: 4rem;
    padding: 30px;
}
.form-check-input{
    visibility: hidden;
    position: absolute;
}
.form-check-input + i{
    cursor: pointer;
    color: green;
}
.form-check-input:checked + i{
    color: rgb(132, 173, 132);
}