mixin indexContent()
    #surveys-container.container-fluid
        .row#surveys-header
            .col-md-2
                p
                    | TITLE
            .col-md-2
                p
                    | CATEGORY
            .col-md-2
                p
                    | CREATED AT
            .col-md-2
                p
                    | LAST RESPONSE
            .col-md-1
                p
                    | RESPONSES
            .col-md-1
                p
                    | ANALYZE
            .col-md-1
                p
                    | SHARE
            .col-md-1
                p
                    | DELETE
