include ../auth/register
include ../auth/login

mixin nav()
    nav.navbar
        .container-fluid
            .navbar-header
                a.navbar-brand(href="Kick Survey")
            //- ul.nav.navbar-nav
            //-     li.active
            //-         a(href="#")
            //-     li.dropdown
            //-         a.dropdown-toggle(data-toggle="dropdown", href="#")
            //-             span.caret
            //-         ul.dropdown-menu
            //-             li
            //-                 a(href="#")
            //-             li
            //-                 a(href="#")
            //-             li
            //-                 a(href="#")
                li
                    a(href="#")
            ul.nav.navbar-nav.navbar-right
                if !isAuthenticated
                
                    li
                        a(href="#", data-toggle="modal", data-target="#myModal")
                            span
                            | Sign up
                    +register()
                    li
                        a(href="#", data-toggle="modal", data-target="#myModal2")
                            span.glyphicon.glyphicon-log-in
                            | Login
                    +login()
                else
                    li
                        a(href="/index")
                            span.glyphicon.glyphicon-user
                            | Hello, #{username}
                    li
                        a(href="/logout")
                            span.glyphicon.glyphicon-log-out
                            | Logout

                